@page "/attempts"
@inject AttemptService service

<h1>Reader Attempts</h1>

<button @onclick="@NextPage" disabled="@(page == 0 ? true : false)">Next</button>

<button @onclick="@PreviousPage">Previous</button>

@if (list == null)
{
	<h2 class="loading">Loading...</h2>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Time</th>
				<th>Reader</th>
				<th>Member</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in list)
			{
				<tr>
					<td>@item.Time.ToString("yyyy-MM-dd hh:mm:sstt")</td>
					<td>@item.Reader</td>
					<td>@item.Member</td>
					<td>@item.Action</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	int page;
	Attempt[] list;

	protected override async Task OnInitializedAsync()
	{
		page = 0;
		list = await service.List(page);
	}

	private async Task NextPage()
	{
		if (page > 0)
			page -= 1;

		list = await service.List(page);
	}

	private async Task PreviousPage()
	{
		page += 1;
		list = await service.List(page);
	}
}
